.header{
    display:flex;
    justify-content:space-between;
    border: 1px solid black;
}
.logo{
    width:140px;
    height:100px;
}

.nav-items>ul{
    display:flex;
    font-size:24px;
    list-style-type: none;
    
}
.nav-items>ul>li{
    margin:10px;
    padding:10px;
}

.res-card:hover{
    cursor:pointer;
    border: 1px solid black;
}
.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.res-card {
    margin:10px;
    width:250px;
    padding:10px;
    background-color: #f0f0f0;
}
.res-card>img{
    width:250px;
    height:200px;
    
}
.filter-btn, 
.search-btn{
   margin:10px 0px; 
   cursor: pointer;
}

.shimmer-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.shimmer-card{
    width:250px;
    height:400px;
    background-color: #f0f0f0;
    margin:20px;
}

.login{
    padding: 0px 20px;
    cursor: pointer;
}
.filter{
    display:flex;
}
.search{
    margin:0px 10px;
}