.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items>ul{
    list-style-type: none;
    display:flex;
    font-size:24px;
}

.login{
    cursor:pointer;
}

.logo{
    width:140px;
    height:100px;
}

.nav-items>ul>li{
    padding:10px;
    margin:10px;
}

.res-logo{
    width:200px;
    height:200px;
}

.filter{
    display: flex;
}

.search, .filter-btn{
    margin:20px 0px;
    cursor: pointer;
}

.res-card{
    background-color: #f0f0f0;
    width: 250px;
    margin:10px;
    padding:10px;
}

.res-card:hover{
    cursor:pointer;
    border: 1px solid black;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.shimmer-container{
    display:flex;
    flex-wrap:wrap;
}

.shimmer-cards{
    background-color: #f0f0f0;
    width:250px;
    height:400px;
    margin:10px;
}